<div class="question-form">
  <div class="row">

    <div class="col-md-4">
      <%= poll_question_form.label "Question #{index+1}" %>
      <%= poll_question_form.text_area :text, class: 'form-control' %><br>
    </div>

    <div class="col-md-8">
      <%= poll_question_form.label "Options" %><br>
      <div class="answer-container">
        <% poll_question.answers.each_with_index do |answer, index| %>
          <%= poll_question_form.fields_for :answers, answer, index: nil do |answer_form| %>
            <%= answer_form.text_area :text, class: 'form-control' %><br>
          <% end %>
        <% end %>

        <% (poll_question.answers.length...@default_num_answers).each do |index| %>
          <%= poll_question_form.fields_for :answers, Answer.new do |answer_form| %>
            <%= answer_form.text_area :text, class: 'form-control' %><br>
          <% end %>
        <% end %>
      </div>

      <button class="question-form-add-option" type="button" data-max-num-answers=<%= raw("\"#{@max_num_answers}\"")%>>Add option</button><br>
    </div>
  </div>

  <div class="checkbox">
    <%= poll_question_form.label :optional do %>
      <%= poll_question_form.check_box :optional %>
      Optional?
    <% end %>
  </div>

  <div class="checkbox">
    <%= poll_question_form.label :allow_multiple_answers do %>
      <%= poll_question_form.check_box :allow_multiple_answers, class: 'checkbox' %>
      "Allow multiple answers?"
    <% end %>
  </div>
</div>
