<div class="question-form">

  <div class="question-form-title">
    <%= poll_question_form.label "Question #{index+1}" %><br>
    <%= poll_question_form.text_area :text %><br>
  </div>

  <div class="question-form-options">
    <%= poll_question_form.label "Options" %><br>
    <% poll_question.answers.each_with_index do |answer, index| %>
      <%= poll_question_form.fields_for :answers, answer, index: nil do |answer_form| %>
        <%= answer_form.text_area :text %><br>
      <% end %>
    <% end %>

    <% (poll_question.answers.length...@default_num_answers).each do |index| %>
      <%= poll_question_form.fields_for :answers, Answer.new do |answer_form| %>
        <%= answer_form.text_area :text %><br>
      <% end %>
    <% end %>

    <button class="question-form-add-option" type="button" data-max-num-answers=<%= raw("\"#{@max_num_answers}\"")%>>Add option</button><br>

  </div>

  <div class="question-form-settings">
    <%= poll_question_form.label "Optional?" %>
    <%= poll_question_form.check_box :optional %><br>

    <%= poll_question_form.label "Allow multiple answers?" %>
    <%= poll_question_form.check_box :allow_multiple_answers %>
  </div>

</div>
