<div class="row">

  <div class="col-sm-4">
    <%= poll_question_form.label "Question #{index+1}" %>
    <%= poll_question_form.text_area :text, class: 'form-control' %>
  </div>

  <div class="col-sm-6">
    <%= poll_question_form.label "Options" %><br>
    <div class="answer-container">
      <% [poll_question.answers.length, @default_num_answers].max.times do |index| %>
        <% answer = (index < poll_question.answers.length) ? poll_question.answers[index] : Answer.new %>
        <%= poll_question_form.fields_for :answers, answer, index: nil do |answer_form| %>
          <div class="input-group">
            <%= answer_form.text_field :text, class: 'form-control' %>
            <span class="input-group-btn">
              <%= button_tag class: "btn btn-default", type: "button", data: {min_num_answers: @default_num_answers} do %>
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              <% end %>
              <%= button_tag class: "btn btn-default", type: "button", data: {max_num_answers: @max_num_answers} do %>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <% end %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="checkbox">
  <%= poll_question_form.label :optional do %>
    <%= poll_question_form.check_box :optional %>
    Optional?
  <% end %>
</div>

<div class="checkbox">
  <%= poll_question_form.label :allow_multiple_answers do %>
    <%= poll_question_form.check_box :allow_multiple_answers, class: 'checkbox' %>
    Allow multiple answers?
  <% end %>
</div>
