<div class="row">
  <div class="col-sm-4">
    <%= poll_question_form.label "Question #{index+1}" %>
    <%= poll_question_form.text_area :text, class: 'form-control' %>
    <%= poll_question_form.check_box :optional, class: 'center-block' %>
    <%= poll_question_form.check_box :allow_multiple_answers, class: 'checkbox center-block' %>
  </div>
  <div class="col-sm-6">
    <%= poll_question_form.file_field :poll_question_picture%>
    <h4><%= poll_question_form.label "Enter your Choices" %></h4>
    <div class="answer-container">
      <% [poll_question.answers.length, @default_num_answers].max.times do |index| %>
        <% answer = (index < poll_question.answers.length) ? poll_question.answers[index] : Answer.new %>
        <%= poll_question_form.fields_for :answers, answer do |answer_form| %>
          <div class="input-group">
              <%= answer_form.text_field :text, class: 'form-control' %>
              <br><br>
              <span class="input-group-btn">
                <%= button_tag class: "btn btn-default", type: "button", data: {min_num_answers: @min_num_answers} do %>
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                <% end %>
                <%= button_tag class: "btn btn-default", type: "button", data: {max_num_answers: @max_num_answers} do %>
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <% end %>
              </span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">

  </div>
</div>
<div class="row">
  <div class="col-sm-4">

  </div>
</div>
<div class="input-group">
  <span class="input-group-btn">
    <%= button_tag class: "btn btn-default pull-right", type: "button", data: {max_num_questions: @max_num_questions, default_num_answers: @default_num_answers} do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <% end %>
    <%= button_tag class: "btn btn-default pull-right", type: "button", data: {min_num_questions: @min_num_questions} do %>
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    <% end %>
  </span>
</div>
