<%= form_for(@user_poll) do |user_poll_form| %>
  <% if @user_poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_poll.errors.count, "error") %> prohibited this user_poll from being saved:</h2>

      <ul>
      <% @user_poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= user_poll_form.label :title %><br>
    <%= user_poll_form.text_field :title %>
  </div>
  <div class="field">
    <%= user_poll_form.label :description %><br>
    <%= user_poll_form.text_area :description %>
  </div>
  <% (0...@poll_options.length).each do |index| %>
    <%= user_poll_form.fields_for(@poll_options[index], index: index) do |poll_option_form| %>
      <div class="field" id=<%= "field#{index}" %>>
        <%= poll_option_form.label "Option #{index+1}" %><br>
        <%= poll_option_form.text_area :text %>
      </div>
    <% end %>
  <% end %>
  <% (@poll_options.length...@max_num_options).each do |index| %>
    <%= user_poll_form.fields_for(PollOption.new, index: index) do |poll_option_form| %>
      <div class="hidden_field" id=<%= "field#{index}" %> style="display: none;">
        <%= poll_option_form.label "Option #{index+1}" %><br>
        <%= poll_option_form.text_area :text %>
      </div>
    <% end %>
  <% end %>
  <div class="actions">
    <%= user_poll_form.submit %>
  </div>
<% end %>

<button id="add_poll_option_button" onclick="addPollOption()"
  <%= raw('style="display: none;"') if @poll_options.length == @max_num_options %>
        >
  Add poll option
</button>
