<%= form_for(@user_poll) do |user_poll_form| %>
  <% if @user_poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_poll.errors.count, "error") %> prohibited this user_poll from being saved:</h2>

      <ul>
      <% @user_poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= user_poll_form.text_field :title, class: 'form-control', placeholder: 'Title' %>
  </div>
  <div class="field">
    <%= user_poll_form.text_area :description, class: 'form-control', placeholder: 'Description' %>
  </div>
  <% @poll_questions.each_with_index do |poll_question, index| %>
    <%= user_poll_form.fields_for "poll_questions", poll_question do |poll_question_form| %>
      <div class="question-field" id=<%= "field#{index}" %>>
        <%= render partial: "answer_form", locals: {index: index, poll_question_form: poll_question_form, poll_question: poll_question} %>
      </div>
    <% end %>
  <% end %>

  <%= user_poll_form.submit id: "actions", class: "btn btn-primary" %> 

<% end %>

