<%= form_for(@user_poll) do |user_poll_form| %>
  <% if @user_poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_poll.errors.count, "error") %> prohibited this user_poll from being saved:</h2>

      <ul>
      <% @user_poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= user_poll_form.label :title %><br>
    <%= user_poll_form.text_field :title %>
  </div>
  <div class="field">
    <%= user_poll_form.label :description %><br>
    <%= user_poll_form.text_area :description %>
  </div>
  <% @poll_questions.each_with_index do |poll_question, index| %>
    <%= user_poll_form.fields_for :poll_questions, poll_question do |poll_question_form| %>
      <div class="field" id=<%= "field#{index}" %>>
        <%= poll_question_form.label "Question #{index+1}" %><br>
        <%= poll_question_form.text_area :text %><br>

        <%= render :partial => "answer_form", :locals => {:poll_question_form => poll_question_form, :poll_question => poll_question} %><br>

      </div>
    <% end %>
  <% end %>
  <% (@poll_questions.length...@max_num_questions).each do |index| %>
    <% poll_question = PollQuestion.new %>
    <%= user_poll_form.fields_for :poll_questions, poll_question do |poll_question_form| %>
      <div class="hidden_question_field" id=<%= "field#{index}" %> style="display: none;">
        <%= poll_question_form.label "Question #{index+1}" %><br>
        <%= poll_question_form.text_area :text %> <br>

        <%= render :partial => "answer_form", :locals => {:poll_question_form => poll_question_form, :poll_question => poll_question } %><br>
      </div>
    <% end %>
  <% end %>
  <div class="actions">
    <%= user_poll_form.submit %>
  </div>
<% end %>

<button id="add_poll_question_button" onclick="addPollQuestion()"
  <%= raw('style="display: none;"') if @poll_questions.length == @max_num_questions %>
        >
  Add poll question
</button>
