<div class="col ">
  <% @user_poll.poll_questions.each_with_index do |poll_question, index| %>
    <% cache(poll_question) do %>
      <br>
      <div class="row">
          <div class="col-xs-3">
              <%= image_tag poll_question.poll_question_picture.url(:thumb), :class => "img-responsive" %>
          </div>
          <div class="col-xs-9">
              <h4 class="WhiteText"><%= "Question " + "#{index+1}: "+ poll_question.text %></h4>
          </div>
      </div>
      <div class="container">
          <div id=<%= "chart"+"#{index+1}"%> data-sort="false" data-width="300" class="jChart chart-lg WhiteText">
              <% i = 0 %>
              <% poll_question.answers.each do |answer| %>
                  <% answer.results.each do |result| %>
                      <% if i % 3 == 0 %>
                          <div class="define-chart-row" data-color="#84d6ff" title=<%= answer.text %>><%=result.votes%></div>
                      <% elsif i % 3 == 1 %>
                          <div class="define-chart-row" data-color="#00A9FF" title=<%= answer.text %>><%=result.votes%></div>
                      <% else %>
                          <div class="define-chart-row" data-color="#005882" title=<%= answer.text %>><%=result.votes%></div>
                      <% end %>
                  <% end %>
                  <% i += 1 %>
              <% end %>
          </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
        $(document).ready(function() {
            var no_polls = '<%= @user_poll.poll_questions.length %>';
            for (i = 1; i <= no_polls; i++) { 
                $("#chart"+i).jChart({x_label:"Population",width:300});
            }
            $("#colors_chart").jChart();
        });
        if(!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload();
        }
</script>