<%= render partial: "shared/navbar" %>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="row CenterWhiteText">
        <p id="notice"><%= notice %></p>
        <h1>Thanks for voting!</h1>
      </div>

      <div class="row CenterWhiteText">
        <h3>Results for the Poll</h3><br>
        <%= render "poll_results" %>
      </div>

      <div class="row">
        <h3 class="CenterWhiteText">Leave a comment below!</h3>
        <div class="col-lg-6 col-lg-offset-3">
            <%= bootstrap_form_for([@user_poll, @user_poll.comments.build]) do |f| %>
              <p>
                <%= f.text_area :body %>
              </p>
              <p>
                <div class="actions">
                  <input class="btn btn-primary" name="commit" type="submit" value="Comment">
                </div>
              </p>
                <%= link_to " Back Home", root_path, {:style=>'color:#FFFFFF;', :class => "btn btn-primary Btn-White"}%><br>
            <% end %>
        </div>
      </div>

      <div class="row">
        <% @user_poll.comments.each do |comment| %>
          <p><%= comment.commenter %></p><br>
          <p><%= comment.body %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
