<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <p id="notice"><%= notice %></p>
      <h1>
        <strong>Title:</strong>
        <%= @user_poll.title %>
      </h1>
      
      <h3>
        <strong>Description:</strong>
        <%= @user_poll.description %>
      </h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-2 col-lg-offset-2">
      <h3><strong>Current Poll Results:</strong></h3>

      <% @user_poll.poll_questions.each_with_index do |poll_question, index| %>
        <p>Question <%= "#{index+1}" %>. <%= poll_question.text %></p> <br>
        <canvas data-question-id=<%= raw("\"#{poll_question.id}\"") %>></canvas> <br>
      <% end %>
      <p><%= link_to 'Back', root_path %></p>
    </div>
  </div>
</div>
