<!DOCTYPE html>
<html>
<head>
    <title>Poll</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .MainBG {
            background-color: #1ABC9C;
        }
    </style>
</head>
<body class="MainBG">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p id="notice"><%= notice %></p>
                <h1>
                  <strong>Title:</strong>
                  <%= @user_poll.title %>
                </h1>
                
                <h3>
                  <strong>Description:</strong>
                  <%= @user_poll.description %>
                </h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2">
                    <h3><strong>Questions</strong></h3>
                    <p><br>
                    <% @user_poll.poll_questions.each_with_index do |poll_question, index| %>
                      Question <%= "#{index+1}" %>. <%= poll_question.text %> <br>
                      <% if poll_question.optional %>
                        <i>Is optional</i><br>
                      <% end %>
                      <% if poll_question.allow_multiple_answers %>
                        <i>Allows multiple answers</i><br>
                      <% end %>
                      <list>
                        <% poll_question.answers.each do |answer| %>
                          <li><%= answer.text %></li>
                        <% end %>
                      </list> </br>
                    <% end %>
                  </p>
                  <h3><strong>Current Poll Results:</strong></h3>
                  <p>
                    <% @user_poll.poll_questions.each_with_index do |poll_question, index| %>
                      Question <%= "#{index+1}" %>. <%= poll_question.text %> <br>
                      <list>
                        <% poll_question.answers.each_with_index do |answer, index| %>
                          <li>OPTION <%= index+1 %>: <%= answer.text %> <br>
                              VOTES: <%= answer.results[0].votes %><br><br></li>
                        <% end %>
                      </list> </br>
                    <% end %>
                  </p>
                  <h2>Vote on survey</h2>
                  <p>
                    <% @user_poll.poll_questions.each do |poll_question| %>
                      <list>
                        <% poll_question.answers.each_with_index do |answer, index| %>
                          <li>OPTION <%= index+1 %>:<br></li>
                          <%= link_to "Vote", {:controller => "results", :action => "test", :id => answer.id} %>
                        <% end %>
                      </list> </br>
                    <% end %>
                  </p>
                  <h3><strong>Comments:</strong></h3>
                  <p>
                    <% @user_poll.comments.each do |comment| %>
                      <p>
                          <Strong>Commenter:</Strong>
                          <%= comment.commenter%>
                      </p>
                      <p>
                          <Strong>Comment:</Strong>
                          <%= comment.body%>
                      </p>
                      </br>
                    <% end %>
                  </p>
                  <h2>Add a Comment</h2>
                  <%= form_for([@user_poll, @user_poll.comments.build]) do |f| %>
                      <p>
                          <%= f.label :commenter %> <br/>
                          <%= f.text_area :commenter %>
                      </p>
                      <p>
                          <%= f.label :body %> <br/>
                          <%= f.text_area :body %>
                      </p>
                      <p>
                          <%= f.submit %>
                      </p>
                  <% end %>
                  <%= link_to 'Back', root_path %>
            </div>
        </div>
    </div>
    
    <%= yield %>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
