<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="pull-left"><%= image_tag "pollster_favicon.png", :class => 'img-responsive' %></a>
            <a class="navbar-brand" href="/landing_page">Pollster</a>
        </div>
        <%= form_tag(root_path, :method => "get", id: "search-form", class: "navbar-form navbar-left") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Polls", class: "form-control" %>
          <%= submit_tag "Search", class: "btn btn-default" %>
        <% end %>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to "Profile", view_user_profile_path(current_user.id) %>  
                </li>
                <li>
                    <%= link_to "Create Poll", new_user_poll_path %>
                </li>
                <li>
                    <%= link_to "Edit Profile", edit_user_registration_path %>
                </li>
                <li>
                    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<br><br>
