<br>
<% if @matching_users.length == 0 %>
  <div class="alert alert-danger" role="alert">
    <p class="alert-link">No Matches Found! Try another user...</p>
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr class="WhiteText">
        <th>Name</th>
        <th>Description</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% i = 0 %>
      <% @matching_users.each do |user| %>
        <% if i % 2 == 0 %>
            <tr class="tableEvenBG">
              <td><%= "#{user.first_name} #{user.last_name}" %></td>
              <td><%= user.description %></td>
              <td><%= get_friend_action(user)%></td>
            </tr>
        <% else %>
            <tr class="tableOddBG">
              <td><%= "#{user.first_name} #{user.last_name}" %></td>
              <td><%= user.description %></td>
              <td><%= get_friend_action(user) %></td>
            </tr>
        <% end %>
        <% i += 1 %>
      <% end %>
    </tbody>
  </table>
<% end %>
