<%= render partial: "shared/navbar" %>
<div class="container MainBG">
    <br><br><br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
              <h1 style="color:#fff;"><%= "#{@profile_user.first_name} #{@profile_user.last_name}" %></h1>
              <br>
              <%= image_tag @profile_user.profile_picture.url(:square) %>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 col-md-offset-3">
          <h4>Votes</h4>
          <h6 style="color:#fff;"><%=@voted_polls.length%></h6>
          <%= image_tag "Votes.png", :class => 'img-responsive center-block' %>
        </div>
        <div class="col-md-2">
          <h4>Following</h4>
          <h6 style="color:#fff;"><%=@user_friends.length%></h6></h6>
          <%= image_tag "Following.png", :class => 'img-responsive center-block' %>
        </div>
        <div class="col-md-2">
          <h4>Polls</h4>
          <h6 style="color:#fff;"><%=@created_polls.length%></h6>
          <%= image_tag "Polls.png", :class => 'img-responsive center-block' %>
        </div>
    </div>
    <br><br>
</div>


<div class="container">
  <div class="row">
 <br><h1 style="color:#fff; background-color:#16a085;text-align: center;"><hr style="height:1px; visibility:hidden;" />
                                                                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                                                      &nbspMy Polls<hr style="height:1px; visibility:hidden;" /></h1><br>
    <% if @created_polls.count > 0 %>
      <div class="col-md-4 col-md-offset-1">
        <% @counter = 0 %>
        <% @created_polls.each do |user_poll| %>
          <% if @counter % 2 == 0 %>
            <br>
            <div class="thumbnail center-block"  style="background-color: #000;">
            <%= image_tag user_poll.poll_picture.url(:medium), :class => 'img-responsive center-block'  %>
              <div class="caption">
                <h3><%= link_to user_poll.title, vote_on_poll_path(user_poll.id), {:style=>'color:#FFF;'}%></h3>
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <%= link_to user_poll_results_path(user_poll.id), {:style=>'color:#FFF;', class: "btn btn-primary"} do %>
                      <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Results
                    <% end %>
                    <%= button_tag type: "button", class: "btn btn-primary", data: {toggle: "modal", target: "#share-modal", poll_id: user_poll.id} do %>
                      <span class="glyphicon glyphicon-share" aria-hidden="true"></span>   Share Poll
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% @counter += 1 %>
        <% end %>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <% @counter = 1 %>
        <% @created_polls.each do |user_poll| %>
          <% if @counter % 2 == 0 %>
            <br>
            <div class="thumbnail center-block"  style="background-color: #000;">
            <%= image_tag user_poll.poll_picture.url(:medium), :class => 'img-responsive center-block'  %>
              <div class="caption">
                <h3><%= link_to user_poll.title, vote_on_poll_path(user_poll.id), {:style=>'color:#FFF;'}%></h3>
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <%= link_to user_poll_results_path(user_poll.id), {:style=>'color:#FFF;', class: "btn btn-primary"} do %>
                      <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Results
                    <% end %>
                    <%= button_tag type: "button", class: "btn btn-primary", data: {toggle: "modal", target: "#share-modal", poll_id: user_poll.id} do %>
                      <span class="glyphicon glyphicon-share" aria-hidden="true"></span>   Share Poll
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% @counter += 1 %>
        <% end %>
      </div>
    <% else %>
      <h4 class="CenterWhiteText"><%= "#{@profile_user.first_name} #{@profile_user.last_name} hasn't made any polls yet!" %></h4>
    <% end %>
  </div>

  <div class="row">
 <br><h1 style="color:#fff; background-color:#16a085;text-align: center;"><hr style="height:1px; visibility:hidden;" />
                                                                      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                                                      &nbspVoted Polls<hr style="height:1px; visibility:hidden;" /></h1><br>
    <% if @voted_polls.count > 0 %>
      <div class="col-md-4 col-md-offset-1">
        <% @counter = 0 %>
        <% @voted_polls.each do |user_poll| %>
          <% if @counter % 2 == 0 %>
            <div class="thumbnail center-block"  style="background-color: #000;">
            <%= image_tag user_poll.poll_picture.url(:medium), :class => 'img-responsive center-block'  %>
              <div class="caption">
                <h3><%= link_to user_poll.title, vote_on_poll_path(user_poll.id), {:style=>'color:#FFF;'}%></h3>
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <%= link_to user_poll_results_path(user_poll.id), {:style=>'color:#FFF;', class: "btn btn-primary"} do %>
                      <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Results
                    <% end %>
                    <%= button_tag type: "button", class: "btn btn-primary", data: {toggle: "modal", target: "#share-modal", poll_id: user_poll.id} do %>
                      <span class="glyphicon glyphicon-share" aria-hidden="true"></span>   Share Poll
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <br>
          <% @counter += 1 %>
        <% end %>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <% @counter = 1 %>
        <% @voted_polls.each do |user_poll| %>
          <% if @counter % 2 == 0 %>
            <div class="thumbnail center-block"  style="background-color: #000;">
            <%= image_tag user_poll.poll_picture.url(:medium), :class => 'img-responsive center-block'  %>
              <div class="caption">
                <h3><%= link_to user_poll.title, vote_on_poll_path(user_poll.id), {:style=>'color:#FFF;'}%></h3>
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <%= link_to user_poll_results_path(user_poll.id), {:style=>'color:#FFF;', class: "btn btn-primary"} do %>
                      <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Results
                    <% end %>
                    <%= button_tag type: "button", class: "btn btn-primary", data: {toggle: "modal", target: "#share-modal", poll_id: user_poll.id} do %>
                      <span class="glyphicon glyphicon-share" aria-hidden="true"></span>   Share Poll
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <br>
          <% end %>
          <% @counter += 1 %>
        <% end %>
      </div>
    <% else %>
      <h4 class="CenterWhiteText"><%= "#{@profile_user.first_name} #{@profile_user.last_name} hasn't voted on any polls yet!" %></h4>
    <% end %>
  </div>
  
  <div class="row">
          <br><h1 style="color:#fff; background-color:#16a085;text-align: center;"><hr style="height:1px; visibility:hidden;" />
                                                                      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                                                      &nbspFriends<hr style="height:1px; visibility:hidden;" /></h1><br>
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-striped">
        <tbody>
          <% if @user_friends.count > 0 %>
            <% i = 0 %>
            <% @user_friends.each do |friend| %>
              <% if i % 2 == 0 %>
                <tr>
                  <td><%= image_tag friend.profile_picture.url(:thumb), width: 32, height: 32, style: "vertical-align:middle" %></td>
                  <td><%= link_to "#{friend.first_name} #{friend.last_name}", view_user_profile_path(friend.id), style: "color:#000" %></td>
                </tr>
              <% else %>
                <tr class="tableOddBG">
                  <td><%= image_tag friend.profile_picture.url(:thumb), width: 32, height: 32, style: "vertical-align:middle" %></td>
                  <td><%= link_to "#{friend.first_name} #{friend.last_name}", view_user_profile_path(friend.id), style: "color:#000" %></td>
                </tr>
              <% end %>
              <% i += 1 %>
            <% end %>
          <% else %>
            <h4 class="row CenterWhiteText"><%= "#{@profile_user.first_name} #{@profile_user.last_name} doesn't have any friends yet!" %></h4>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br><br><br><br><br><br>


<script>
    $(".MainBG").css("min-height",$(window).height()*.6);
    $(".MainBG").css("min-width",$(window).width());
    window.onresize = function(event) {
        resizeDiv();
    }
    function resizeDiv() {
        $(".MainBG").css("min-height",$(window).height()*.6);
        $(".jumbotron").css("min-width",$(window).width());
    }
</script>
