<% if @current_user_polls.length == 0 %>
  <p>You don't have any polls yet!</p>
<% else %>
  <div class="row">
    <br><h3 style="color:#fff;">My Polls</h3><br>
    <div class="col-md-5 col-sm-5">
       <% @counter = 0 %>
       <% @current_user_polls.each do |user_poll| %>
          <% if @counter % 2 == 0 %>
              <br>
              <div class="thumbnail center-block"  style="background-color: #000;">
                  <%= image_tag "login_bg.jpg", :class => 'img-responsive center-block' %>
                  <div class="caption">
                    <h3><%= link_to user_poll.title, vote_on_poll_path(user_poll.id), {:style=>'color:#FFF;'}%></h3>
                    <div class="row  center-block">
                        <div class="col-md-6">
                            <%= link_to user_poll_results_path(user_poll.id), {:style=>'color:#FFF;', class: "btn btn-primary"} do %>
                              <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Results
                            <% end %>
                        </div>
                        <div class="col-md-6">
                            <%= button_tag type: "button", class: "btn btn-primary", data: {toggle: "modal", target: "#share-modal", poll_id: user_poll.id} do %>
                              <span class="glyphicon glyphicon-share" aria-hidden="true"></span>   Share Poll
                            <% end %>
                        </div>
                    </div>
                  </div>
              </div>
          <% end %>
          <% @counter += 1 %>
        <% end %>
    </div>
    <div class="col-md-5 col-md-offset-2 col-sm-5 col-md-offset-2">
       <% @counter = 1 %>
       <% @current_user_polls.each do |user_poll| %>
          <% if @counter % 2 == 0 %>
              <br>
              <div class="thumbnail center-block"  style="background-color: #000;">
                  <%= image_tag "login_bg.jpg", :class => 'img-responsive center-block' %>
                  <div class="caption">
                      <h3><%= link_to user_poll.title, vote_on_poll_path(user_poll.id), {:style=>'color:#FFF;'}%></h3>
                      <div class="row center-block">
                          <div class="col-md-6">
                              <%= link_to user_poll_results_path(user_poll.id), {:style=>'color:#FFF;', class: "btn btn-primary"} do %>
                                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Results
                              <% end %>
                          </div>
                          <div class="col-md-6">
                              <%= button_tag type: "button", class: "btn btn-primary", data: {toggle: "modal", target: "#share-modal", poll_id: user_poll.id} do %>
                                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>   Share Poll
                              <% end %>
                          </div>
                      </div>
                  </div>
              </div>
          <% end %>
          <% @counter += 1 %>
        <% end %>
    </div>
  </div>
  <% if @can_show_more_current_user_polls %>
    <button class="btn btn-primary" data-current-user-polls-request-size=<%= raw("\"#{@next_current_user_polls_request_size}\"") %>>Show more</button>
  <% end %>
<% end %>
