<% if @current_user_polls.length == 0 %>
  <p>You don't have any polls yet!</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Creation Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @current_user_polls.each do |user_poll| %>
        <tr>
          <td><%= link_to user_poll.title, vote_on_poll_path(user_poll.id) %></td>
          <td><%= user_poll.created_at.to_s(:long) %></td>
          <td><%= link_to user_poll_results_path(user_poll.id), class: "btn btn-primary btn-xs" do %>
            <span class="glyphicon glyphicon-stats" aria-hidden="true"</span>  Results
          <% end %></td>
          <td><%= button_tag type: "button", class: "btn btn-primary btn-xs", data: {toggle: "modal", target: "#share-modal", poll_id: user_poll.id} do %>
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>   Share
          <% end %></td>
          <td><%= link_to user_poll, class: "btn btn-primary btn-xs", method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>   Delete
          <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @can_show_more_current_user_polls %>
    <button data-current-user-polls-request-size=<%= raw("\"#{@next_current_user_polls_request_size}\"") %>>Show more</button>
  <% end %>
<% end %>
