<h3 style="color:#fff;">Friends</h3>
<% if @current_user_friends.length == 0 %>
  <p>You have no friends!</p>
<% else %>
  <table class="table table-striped">
    <tbody>
      <% @current_user_friends.each do |friend| %>
        <tr>
          <td><%= image_tag friend.profile_picture.url(:thumb), width: 32, height: 32, style: "vertical-align:middle" %></td>
          <td><%= link_to "#{friend.first_name} #{friend.last_name}", view_user_profile_path(friend.id), style: "vertical-align:middle" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @can_show_more_current_user_friends %>
    <button data-current-user-friends-request-size=<%= raw("\"#{@next_current_user_friends_request_size}\"") %>>Show more</button>
  <% end %>
<% end %>
<%= link_to "Add a friend", new_friend_request_path, style: "color:#FFFFFF;", class: "btn btn-primary Btn-White" %>

<% if @current_user_friend_requests.length > 0 %>
  <h4>Friend Requests</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @current_user_friend_requests.each do |friend_request| %>
        <tr>
          <td><%= friend_request[0] %></td>
          <td><%= link_to 'Accept', accept_friend_request_path(friend_request[1]), method: :post %></td>
          <td><%= link_to 'Reject', reject_friend_request_path(friend_request[1]), method: :post %></td>
        </tr>
      <% end %>
    </tbody>
<% end %>
