  <div class="row">
   <h1 style="color:#fff; background-color:#16a085;text-align: center;"><hr style="height:1px; visibility:hidden;" />
                                                                      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                                                      &nbspNews Feed<hr style="height:1px; visibility:hidden;" /></h1><br>
    <% if @news_feed_polls.length == 0 %>
      <div class="col-md-12">
        <h4 class="CenterWhiteText">News Feed is currently empty!</h4>
    <% else %>
       <div class="col-md-5 col-sm-5">
          <% @counter = 0 %>
          <% @news_feed_polls.each do |user_poll_tuple| %>
            <% if @counter % 2 == 0 %>
              <% cache(user_poll_tuple[0]) do %>
                <% user_poll = user_poll_tuple[0] %>
                <% comment = user_poll_tuple[1] %>
                <% user_poll_owner = user_poll_tuple[2] %>
                <br>
                <div class="thumbnail center-block"  style="background-color: #000;">
                    <%= image_tag user_poll.poll_picture.url(:medium), :class => 'img-responsive center-block'  %>
                    <div class="caption">
                      <h4 class="CenterWhiteText"><%= link_to user_poll.title, vote_on_poll_path(user_poll.id), {:style=>'color:#FFF;'}%></h4>
                      <p class="CenterWhiteText"><%= "#{user_poll_owner.first_name} #{user_poll_owner.last_name}" %></p>
                      <p class="CenterWhiteText"><%= user_poll.created_at.to_s(:long)%></p>
                      <p class="CenterWhiteText"><%= comment %></p>
                      <div class="row  center-block">
                          <div class="col-md-6">
                              <%= link_to user_poll_results_path(user_poll.id), {:style=>'color:#FFF;', class: "btn btn-primary"} do %>
                                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Results
                              <% end %>
                          </div>
                          <div class="col-md-6">
                              <%= button_tag type: "button", class: "btn btn-primary", data: {toggle: "modal", target: "#share-modal", poll_id: user_poll.id} do %>
                                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>   Share Poll
                              <% end %>
                          </div>
                      </div>
                    </div>
                </div>
              <% end %>  
            <% end %>
            <% @counter += 1 %>
          <% end %>
        <% end %>
    </div>
    <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2">
       <% @counter = 1 %>
       <% @news_feed_polls.each do |user_poll_tuple| %>
          <% if @counter % 2 == 0 %>
            <% cache(user_poll_tuple[0]) do %>
              <% user_poll = user_poll_tuple[0] %>
              <% comment = user_poll_tuple[1] %>
              <% user_poll_owner = user_poll_tuple[2] %>
              <br>
              <div class="thumbnail center-block"  style="background-color: #000;">
                  <%= image_tag user_poll.poll_picture.url(:medium), :class => 'img-responsive center-block'  %>
                  <div class="caption">
                    <h4 class="CenterWhiteText"><%= link_to user_poll.title, vote_on_poll_path(user_poll.id), {:style=>'color:#FFF;'}%></h4>
                    <p class="CenterWhiteText"><%= "#{user_poll_owner.first_name} #{user_poll_owner.last_name}" %></p>
                    <p class="CenterWhiteText"><%= user_poll.created_at.to_s(:long)%></p>
                    <p class="CenterWhiteText"><%= comment %></p>
                    <div class="row  center-block">
                        <div class="col-md-6">
                            <%= link_to user_poll_results_path(user_poll.id), {:style=>'color:#FFF;', class: "btn btn-primary"} do %>
                              <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Results
                            <% end %>
                        </div>
                        <div class="col-md-6">
                            <%= button_tag type: "button", class: "btn btn-primary", data: {toggle: "modal", target: "#share-modal", poll_id: user_poll.id} do %>
                              <span class="glyphicon glyphicon-share" aria-hidden="true"></span>   Share Poll
                            <% end %>
                        </div>
                    </div>
                  </div>
              </div>
            <% end %>
          <% end %>
          <% @counter += 1 %>
        <% end %>
    </div>
  </div>

<% if @can_show_more_news_feed_polls %>
  <button class="btn btn-primary" data-news-feed-polls-request-size=<%= "#{@next_news_feed_polls_request_size}" %>>Show more</button>
<% end %>
