<%= render partial: "shared/navbar" %>
<%= render 'share_modal' %>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <p id="notice"><%= notice %></p>
      <h2>News Feed</h2>
      <div class="table-responsive" id="news-feed-polls">   
        <%= render 'news_feed_polls' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="table-responsive" id="current-user-polls">   
        <%= render 'current_user_polls' %>
      </div>
    </div>
  </div>
  <br> <br>
  <div class="row">         
    <div id="friends_pane">
      <%= render "friends_pane" %>
    </div>
  </div>
</div>
