<!DOCTYPE html>
<html>
<head>
  <title>Poll</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap.min', 'data-turbolinks-track' => true  %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
